body{
	color: #333;
}
.tabs{
}

.tabs button{
	height: 30px;
	color: #fff;
	background-color: #204d74;
	border-color: #122b40;
	margin-bottom:10px;
	cursor: pointer;
	min-width: 30px;
	padding-right: 10px;
}
.tabs button:not(:first-child){
	margin-top:10px;
}

#response-content{
	float: right;
	width: calc(100% - 200px);
}

.actor-details{
	display: table-cell;
	vertical-align: top;
	text-align: justify;
	padding-right: 16px;
	position: relative;
}

.actor-description{
	text-decoration: none;
	color: #333;
}
/*
.actor-description:after{
	!*content:'\25BA';
	content:"\0003e";*!
	content:"\203A";
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	font-size: 32px;
	color: #959595;
}*/
