button.red {
	background:red;
}

.tabs{
}

.tabs button{
	height: 30px;
	color: #fff;
	background-color: #204d74;
	border-color: #122b40;
	margin-bottom:10px;
	cursor: pointer;
	min-width: 30px;
	padding-right: 10px;
}
.tabs button:not(:first-child){
	margin-top:10px;
}

#response-content{
	float: right;
	width: calc(100% - 200px);
}