button.red {
	background:red;
}

.tabs{
	float: left;
	width: 160px;
	padding-right: 20px;
}

.tabs button{
	display: block;
	height: 30px;
	color: #fff;
	background-color: #204d74;
	border-color: #122b40;
	margin-bottom:10px;
	cursor: pointer;
	width: 100%;
}
.tabs button:not(:first-child){
	margin-top:10px;
}

#response-content{
	float: right;
	width: calc(100% - 200px);
}