<div ng-controller="actorsCtrl">
    <div ng-repeat="actor in actors" style="margin-bottom: 15px;">
        <div style="display: table-cell; vertical-align: top; padding-right: 10px;">
            <img ng-src="{{actor.picUrl}}" height='132' width='89'>
        </div>
        <div class="actor-details">
            <div style="padding-bottom: 6px;"><b>{{actor.name}}</b> as <b>{{actor.nameInMovie}}</b></div>
            <a class="actor-description" target='_blank' href="{{actor.moreDataUrl}}">{{actor.description}}</a>
        </div>
    </div>
</div>
